.modal {
	--transition-time: 0.2s;
	position: fixed;
	inset: 0;
	z-index: 3;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	background: linear-gradient(135deg, #2a2a29ea 30%, #0c323dee 95%);
	text-align: center;
	opacity: 0;
	visibility: hidden;
	transition: opacity var(--transition-time), visibility var(--transition-time);
}

.modal--open {
	opacity: 1;
	visibility: visible;
}

.modal::before {
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.modal__window {
	position: relative;
	display: none;
	margin-block: 50px;
	vertical-align: middle;
	border-radius: 12px;
}

@media (width > 576px) {
	.modal__window {
		padding: 50px 50px;
	}
}

@media (width <=576px) {
	.modal__window {
		padding: 80px 30px;
		width: 90%;
	}
}

.modal__window--open {
	display: inline-block;
}


body.is-scroll-disabled,
.page-body.is-scroll-disabled {
	overflow: hidden;
	height: 100vh;
}