body {
	font-family: Ubuntu;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.3;
	color: #535755;

}



.article-title {
	font-family: 'Oswald';
	font-size: 48px;
	font-style: normal;
	font-weight: 600;
	line-height: 1.15;
	text-transform: uppercase;
	color: #2C332F;
	max-width: 596px;

}

.article-text__one {
	padding: 40px 0 20px;
}

.article__decor-wrapper {
	position: relative;
}

.article__decor-wrapper::before {
	position: absolute;
	content: '';
	width: 528px;
	height: 48px;
	bottom: 364px;
	left: -350px;
	z-index: -1;
	background: url(../images/decor-2.svg);
}

.intro__img {
	max-width: 1220px;
	padding-top: 80px;
}

.group-classes__title,
.review__title {
	font-family: Oswald;
	font-size: 36px;
	font-style: normal;
	font-weight: 600;
	line-height: 1.15;
	color: #2C332F;
	text-transform: uppercase;

}

.group-classes__text {
	max-width: 744px;
	padding: 40px 0 20px;
}

.group-classes__list {
	list-style: none;

}

.group-classes__item {
	display: flex;
	align-items: center;
	gap: 8px;

}

/*Использование псевдо элементов*/
.group-classes__item::before {
	content: "";
	background: #3596ED;
	width: 8px;
	height: 8px;
	border-radius: 50%;
}

.review-video {
	padding: 40px 0;
	max-width: 1220px;
}

.wrapper__review-video {
	position: relative;

}

/*Использование псевдо элементов*/
.wrapper__review-video::after {
	position: absolute;
	content: '';
	width: 528px;
	height: 48px;
	bottom: 176px;
	right: -350px;
	z-index: -1;
	background: url(../images/decor-2.svg);
}